{% if block.settings.show_colors %}
{{ 'color-linked-products' | asset_url | stylesheet_tag }}
<div class="color-wrapps">
  {% if block.settings.label_heading != blank %}
    <label class="color-label">{{ block.settings.label_heading }}</label>
  {% endif %}

  <div class="color-swatches">
    {% assign separate_products = product.metafields.custom.related_products_different_colors.value %}

    {% if separate_products %}
      {% for color_product in separate_products %}

        {% assign color_metaobject_reference = color_product.metafields.shopify.color-pattern %}
        {% if color_metaobject_reference %}
          {% assign color_metaobjects = color_metaobject_reference.value %}

          {% for color_object in color_metaobjects %}
            <a
              href="{{ color_product.url }}"
              class="color-swatch{% if color_product.id == product.id %} selected{% endif %}"
              title="{{ color_object.label }}"
              aria-label="{{ color_object.label }}"
            >
              <span
                class="swatch"
                style="background-color: {{ color_object.color }};"
              ></span>
            </a>
          {% endfor %}

        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}


{% schema %}
{
    "name": "Color option",
    "class": "color_op_custom",
    "settings": [
    {
      "type": "checkbox",
      "id": "show_colors",
      "label": "Enable Colors Swatch"
    },
     {
      "type": "text",
      "id": "label_heading",
      "label": "Add Label Heading"
    } 
    ],
     "presets": [
    {
      "name": "Color option",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}